* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-flow: column;
  background-color: #85CDCB;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E27D60;
  width: 100%;
  padding: 15px;
  color: #3a3734;
}

.etchBox {
  border: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}

.resetBtn {
  background-color: #C38D9E ;
}

.color-choice-btn,
.resetBtn {
  padding: 5px;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 4px #888888;
}

.color-choice-btn {
  width: 90px;
}

#red-btn {
    background-color: #ff3d46;
}

#green-btn {
  background-color: #2fff6b;
  color: rgb(112, 108, 108)
}

#blue-btn {
  background-color: #289eff;
}

#black-btn {
  background-color: black;
}

#rainbow-btn {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  color: rgb(53, 52, 52);
}

#eraser-btn {
  background-color: rgb(107, 102, 102);
}

#darken-btn {
  background: grey;
  background: linear-gradient(white, black);
}

.mid-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-color-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 300px;
  gap: 30px;
  margin-right: 15px;
}

.invisible {
  /* needs to have  .btn-color-picker margin-left and margin-right have to be opposite to center .container */
  margin-right: 300px;
  margin-left: 90px;
}



